html,
body {
    background-color: white;
    height: 100%;
}
div.cabeca {
display: flex;
flex-direction: row;
}

div.logoHome {
    margin: auto auto auto auto;
    position: relative;


}

img.logoMaridao {
    height: 500px;
    display: block;
    margin-right: auto;

}

div.wttSelecionavel {
    display: flex;

    flex-direction: row;
    margin-left: auto;
}

img.whatsappLogo {
    height: 100px;
    width: 100px;
    margin-left: 2%;
}

div.link {
    height: 100px;
    width: 300px;
    border-radius: 35px;
    cursor: pointer;
    background-color: rgb(37, 211, 102);
}

div.link:hover {
    background-color: rgb(37, 250, 102);
}